src/main/resources/DeliveryWS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DeliveryServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery">
      <xs:element name="startDelivery" type="tns:startDelivery" />
      <xs:element name="startDeliveryResponse" type="tns:startDeliveryResponse" />
      <xs:complexType name="startDelivery">
        <xs:sequence>
          <xs:element minOccurs="0" name="delivery_id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="startDeliveryResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="startDelivery">
    <wsdl:part element="tns:startDelivery" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="startDeliveryResponse">
    <wsdl:part element="tns:startDeliveryResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeliveryService">
    <wsdl:operation name="startDelivery">
      <wsdl:input message="tns:startDelivery" name="startDelivery"></wsdl:input>
      <wsdl:output message="tns:startDeliveryResponse" name="startDeliveryResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliveryServiceImplServiceSoapBinding" type="tns:DeliveryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="startDelivery">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="startDelivery">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startDeliveryResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryServiceImplService">
    <wsdl:port binding="tns:DeliveryServiceImplServiceSoapBinding" name="DeliveryServiceImplPort">
      <soap:address location="http://localhost:8080/drone-delivery-backend/webservices/DeliveryWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
